.container{
    width:100vw;
    height:100vh;
    overflow:hidden;
    position:relative;
}

.page{
    width:100%;
    height:100%;
}

/* Navigation Arrow */

.arrow{
    position:fixed;
    top:50%;
    transform:translateY(-50%);
    width:60px;
    height:60px;
    border:none;
    border-radius:50%;
    background:white;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    cursor:pointer;
    font-size:22px;
    transition:.35s;
    z-index:1000;
}

.arrow:hover{
    transform:translateY(-50%) scale(1.1);
    background:#2F4858;
    color:white;
}

.left{
    left:45px;
}

.right{
    right:45px;
}

.page-number{
    position:fixed;
    bottom:35px;
    right:50px;
    color:#7d7d7d;
    letter-spacing:3px;
    font-size:14px;
}